{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}
<div class="row">
    <div class="col-md-6">
    <div class="form-group">
        {{ form_label(form.nom, "Nom") }}
        {{ form_widget(form.nom) }}
        {{ form_errors(form.nom) }}
    </div>
    <div class="form-group">
        {{ form_label(form.adresse, "Adresse") }}
        {{ form_widget(form.adresse) }}
        {{ form_errors(form.adresse) }}
    </div>
    <div class="form-group">
        {{ form_label(form.capacite, "Capacite") }}
        {{ form_widget(form.capacite) }}
        {{ form_errors(form.capacite) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image, "Image") }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}
    </div>
</div>
</div>
{{ form_widget(form.save, {'attr': {'style': 'display: none;'}}) }}
{{ form_end(form) }}