{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}
<table>
    <tr>
        <td> {{ form_label(form.nom, "Nom") }} </td>
        <td> {{ form_widget(form.nom) }} </td>
        <td> {{ form_errors(form.nom) }} </td>
    </tr>
    <tr>
        <td> {{ form_label(form.adresse, "Adresse") }} </td>
        <td> {{ form_widget(form.adresse) }} </td>
        <td> {{ form_errors(form.adresse) }} </td>
    </tr>
    <tr>
        <td> {{ form_label(form.capacite, "Capacite") }} </td>
        <td> {{ form_widget(form.capacite) }} </td>
        <td> {{ form_errors(form.capacite) }} </td>
    </tr>
    <tr>
        <td> {{ form_label(form.image, "Image") }} </td>
        <td> {{ form_widget(form.image) }} </td>
        <td> {{ form_errors(form.image) }} </td>
    </tr>
</table>
{{ form_widget(form.save) }}
{{ form_end(form) }}