
{{ form_start(form,{'attr':{'novalidate':'novalidate'}} )}}
<table>
    <tr>
        <td> {{form_label(form.date_debut,"date_debut")}} </td> 
        <td> {{ form_widget(form.date_debut) }} </td>
        <td> {{ form_errors(form.date_debut) }} </td> 
    </tr> 
    <tr>
    <td> {{form_label(form.date_fin,"date_fin")}} </td> 
    <td> {{ form_widget(form.date_fin) }} </td>
    <td> {{ form_errors(form.date_fin) }} </td> 
    </tr> 
    <tr>
    <td> {{form_label(form.etapes,"etapes")}} </td> 
    <td> {{ form_widget(form.etapes) }} </td>
    <td> {{ form_errors(form.etapes) }} </td> 
    </tr> 
</table>
{{ form_widget(form.save) }}
{{ form_end(form) }}
