{% extends 'plannig/index.html.twig' %}

{% block body %}

    <h1>{{ form.vars.value.id ? 'Modifier un planning' : 'Créer un nouveau planning' }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div>
            {{ form_row(form.num) }}
        </div>
        <div>
            {{ form_label(form.date_debut) }}
            {{ form_widget(form.date_debut) }}
            {{ form_errors(form.date_debut) }}
        </div>
        <div>
            {{ form_label(form.date_fin) }}
            {{ form_widget(form.date_fin) }}
            {{ form_errors(form.date_fin) }}
        </div>

        <div>
            {{ form_label(form.etapes) }}
            {{ form_widget(form.etapes) }}
            {{ form_errors(form.etapes) }}
        </div>

        <button type="submit" class="btn btn-primary">
            {{ form.vars.value.id ? 'Mettre à jour' : 'Enregistrer' }}
        </button>
    {{ form_end(form) }}

    <a href="{{ path('planning_index') }}" class="btn btn-secondary">Retour à la liste</a>

{% endblock %}
