{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.livreur) }}
                                {{ form_widget(form.livreur, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.livreur) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.adresse) }}
                                {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.adresse) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.date) }}
                                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.date) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.status) }}
                                {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.mode) }}
                                {{ form_widget(form.mode, {'attr': {'class': 'form-control'}}) }}
                            </div>
                                {{ form_widget(form.prix, {'attr': {'style': 'display: none;'}}) }}
                        </div>
                    </div>
                    {{ form_widget(form.save, {'attr': {'style': 'display: none;'}}) }}
                    {{ form_end(form) }}