{% extends 'base_login.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

<div class="login-container">
    <div class="wrapper">
        <div class="logo">
            <img src="{{ asset('uploads/logo.png') }}" alt="ecoway">
        </div>
        <div class="text-center mt-4 name">
            ECOWAY
        </div>
        <form class="p-3 mt-3" method="post" id="loginForm" novalidate>>

            {% if error %}
                <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1>Please sign in</h1>
            
            <div class="form-field d-flex align-items-center">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>

            <div class="form-field d-flex align-items-center">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
            
            <a href="{{ path('app_register') }}">
                <button type="button" class="btn btn-lg btn-register">
                    Register
                </button>
            </a>

            <div class="text-center mt-3">
                <a href="{{ path('connect_google') }}" class="btn btn-danger">
                    <i class="fab fa-google"></i> Login with Google
                </a>
            </div>

            <div class="text-center mt-2">
                <a href="{{ path('app_forgot_password_request') }}" class="text-decoration-none">Forgot Password?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
