                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.clientId) }}
                                {{ form_widget(form.clientId, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.clientId) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.date) }}
                                {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.date) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.status) }}
                                {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.prix) }}
                                {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
                                {{ form_errors(form.prix) }}
                            </div>

                            <div class="form-group">
                                {{ form_label(form.modePaiement) }}
                                {{ form_widget(form.modePaiement, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form.save, {'attr': {'style': 'display: none;'}}) }}
                    {{ form_end(form) }}