{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}

  <div>
    <img src="{{ asset('bg1.png')}}" >
  </div>


<div class="container-fluid">
<div class="row">
<div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
<div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h6>Liste Des Utilisateurs</h6>
</div>
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Mdp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.mdp }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_utilisateur_new') }}">Create new</a>
</div>
</div>
</div>


<div class="container-fluid">
<div class="row">
<div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
<div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h6>Les Roles</h6>
</div>
{% include "role/index.html.twig" %}
</div>
</div>
</div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2025 ECOWAY. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
