{{ form_start(form,{'attr':{'novalidate':'novalidate'}} )}}
<table>
    <tr>
        <td> {{form_label(form.clientId,"Id du Client")}} </td>
        <td> {{ form_widget(form.clientId) }} </td>
        <td> {{ form_errors(form.clientId) }} </td>
    </tr>
    <tr>
        <td> {{form_label(form.date,"Date")}} </td>
        <td> {{ form_widget(form.date) }} </td>
        <td> {{ form_errors(form.date) }} </td>
    </tr>
    <tr>
        <td> {{form_label(form.status,"Status")}} </td>
        <td> {{ form_widget(form.status) }} </td>
        <td> {{ form_errors(form.status) }} </td>
    </tr>
    <tr>
        <td> {{form_label(form.prix,"Prix")}} </td>
        <td> {{ form_widget(form.prix) }} </td>
        <td> {{ form_errors(form.prix) }} </td>
    </tr>
    <tr>
        <td> {{form_label(form.modePaiement,"Mode de Paiement")}} </td>
        <td> {{ form_widget(form.modePaiement) }} </td>
        <td> {{ form_errors(form.modePaiement) }} </td>
    </tr>
</table>
{{ form_widget(form.save) }}
{{ form_end(form) }}
