{% block body %}
        <thead>
            <tr>
                <th>Id</th>
                <th>ClientId</th>
                <th>Date</th>
                <th>Status</th>
                <th>Prix</th>
                <th>ModePaiement</th>
                <th>Produits</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.clientId }}</td>
                <td>{{ commande.date ? commande.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande.status }}</td>
                <td>{{ commande.prix }}</td>
                <td>{{ commande.modePaiement }}</td>
                <td>
                    {% for produit in commande.produits %}
                        {{ produit.nom }}{% if not loop.last %}, {% endif %}
                    {% else %}
                        <span class="text-muted">No products</span>
                    {% endfor %}
                </td>
                <td>
                    {{ include('/commande/_delete_form.html.twig') }}
                </td>
                <td>
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}
