<!DOCTYPE html>

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Etapes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plannig in plannigs %}
            <tr>
                <td>{{ plannig.id }}</td>
                <td>{{ plannig.dateDebut }}</td>
                <td>{{ plannig.dateFin }}</td>
                <td>{{ plannig.etapes }}</td>
                <td>
                    <a href="{{ path('app_plannig_show', {'id': plannig.id}) }}">show</a>
                    <a href="{{ path('app_plannig_edit', {'id': plannig.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_plannig_new') }}">Create new</a>
{% endblock %}
