<!DOCTYPE html>

<title>Plannig</title>

{% block body %}
    <h1>Plannig</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plannig.id }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ plannig.dateDebut }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ plannig.dateFin }}</td>
            </tr>
            <tr>
                <th>Etapes</th>
                <td>{{ plannig.etapes }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_plannig_index') }}">back to list</a>

    <a href="{{ path('app_plannig_edit', {'id': plannig.id}) }}">edit</a>

    {{ include('plannig/_delete_form.html.twig') }}
{% endblock %}
