{% block body %}
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Capacité</th>
                <th>Image</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for depot in depots %}
            <tr>
                <td>{{ depot.id }}</td>
                <td>{{ depot.nom }}</td>
                <td>{{ depot.adresse}}</td>
                <td>{{ depot.capacite }}</td>
                <td>{{ depot.image }}</td>
                <td>
                    {{ include('/depot/_delete_form.html.twig') }}
                </td>
                <td>
                    <a href="{{ path('app_depot_edit', {'id': depot.id}) }}" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}
