{{ form_start(form,{'attr':{'novalidate': 'novalidate'}}) }}
    <table>
    <tr>
        <td> {{ form_label (form.nom,"nom du role")}}</td>
        <td> {{ form_widget(form.nom) }}</td>
        <td> {{ form_errors(form.nom) }}</td>
    </tr>
    <tr>
        <td> {{ form_label (form.email,"Email")}}</td>
        <td> {{ form_widget(form.email) }}</td>
        <td> {{ form_errors(form.email) }}</td>
    </tr>
    <tr>
        <td> {{ form_label (form.mdp,"mot de passe")}}</td>
        <td> {{ form_widget(form.mdp) }}</td>
        <td> {{ form_errors(form.mdp) }}</td>
    </tr>
    <tr>
        <td> {{ form_label (form.role,"Role")}}</td>
        <td> {{ form_widget(form.role) }}</td>
        <td> {{ form_errors(form.role) }}</td>
    </tr>
        </table>


    {{ form_widget(form.save) }}
{{ form_end(form) }}
