<h1> Ajouter un Commentaire </h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<table class="table">
    <tr>
        <td>{{ form_label(form.auteur, "Auteur") }}</td>
        <td>{{ form_widget(form.auteur) }}</td>
        <td class="text-danger">{{ form_errors(form.auteur) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.message, "Message") }}</td>
        <td>{{ form_widget(form.message) }}</td>
        <td class="text-danger">{{ form_errors(form.message) }}</td>
    </tr>
</table>

<button type="submit" class="btn btn-primary">💬 Ajouter</button>

{{ form_end(form) }}
