<h1>Ajouter une Bande Commande</h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<table>
    <tr>
        <td>{{ form_label(form.reference, "Référence") }}</td>
        <td>{{ form_widget(form.reference) }}</td>
        <td>{{ form_errors(form.reference) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.datecommande, "Date de Commande") }}</td>
        <td>{{ form_widget(form.datecommande) }}</td>
        <td>{{ form_errors(form.datecommande) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.fournisseur, "Fournisseur") }}</td>
        <td>{{ form_widget(form.fournisseur) }}</td>
        <td>{{ form_errors(form.fournisseur) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.quantiteTotale, "Quantité Totale") }}</td>
        <td>{{ form_widget(form.quantiteTotale) }}</td>
        <td>{{ form_errors(form.quantiteTotale) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.statut, "Statut") }}</td>
        <td>{{ form_widget(form.statut) }}</td>
        <td>{{ form_errors(form.statut) }}</td>
    </tr>
</table>

<button class="btn btn-success">Enregistrer</button>

{{ form_end(form) }}
