<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block css %}
            <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
            <link href="{{asset('backend/plugins/material/css/materialdesignicons.min.css')}}" rel="stylesheet" />
            <link href="{{asset('backend/plugins/simplebar/simplebar.css')}}" rel="stylesheet" />
            <link href="{{asset('backend/plugins/nprogress/nprogress.css')}}" rel="stylesheet" />
            <link href="{{asset('backend/plugins/DataTables/DataTables-1.10.18/css/jquery.dataTables.min.css')}}" rel="stylesheet" />
            <link href="{{asset('backend/plugins/jvectormap/jquery-jvectormap-2.0.3.css')}}" rel="stylesheet" />
            <link href="{{asset('backend/plugins/daterangepicker/daterangepicker.css')}}" rel="stylesheet" />
            <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
            <link href="{{asset('backend/plugins/toaster/toastr.min.css')}}" rel="stylesheet" />
            <link id="main-css-href" rel="stylesheet" href="{{asset('backend/css/style.css')}}" />
            <link href="{{asset('backend/images/favicon.png')}}" rel="shortcut icon" />
            <link rel="stylesheet" href="{{asset('backend/progress.css')}}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('backend/plugins/nprogress/nprogress.js')}}"></script>
            <script src="{{asset('backend/plugins/jquery/jquery.min.js')}}"></script>
            <script src="{{asset('backend/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
            <script src="{{asset('backend/plugins/simplebar/simplebar.min.js')}}"></script>
            <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="{{asset('backend/plugins/apexcharts/apexcharts.js')}}"></script>
            <script src="{{asset('backend/plugins/DataTables/DataTables-1.10.18/js/jquery.dataTables.min.js')}}"></script>
            <script src="{{asset('backend/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js')}}"></script>
            <script src="{{asset('backend/plugins/jvectormap/jquery-jvectormap-world-mill.js')}}"></script>
            <script src="{{asset('backend/plugins/jvectormap/jquery-jvectormap-us-aea.js')}}"></script>
            <script src="{{asset('backend/plugins/daterangepicker/moment.min.js')}}"></script>
            <script src="{{asset('backend/plugins/daterangepicker/daterangepicker.js')}}"></script>
            <script>
                      jQuery(document).ready(function() {
                        jQuery('input[name="dateRange"]').daterangepicker({
                        autoUpdateInput: false,
                        singleDatePicker: true,
                        locale: {
                          cancelLabel: 'Clear'
                        }
                      });
                        jQuery('input[name="dateRange"]').on('apply.daterangepicker', function (ev, picker) {
                          jQuery(this).val(picker.startDate.format('MM/DD/YYYY'));
                        });
                        jQuery('input[name="dateRange"]').on('cancel.daterangepicker', function (ev, picker) {
                          jQuery(this).val('');
                        });
                      });
            </script>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
            <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
            <script src="{{asset('backend/plugins/toaster/toastr.min.js')}}"></script>
            <script src="{{asset('backend/js/mono.js')}}"></script>
            <script src="{{asset('backend/js/chart.js')}}"></script>
            <script src="{{asset('backend/js/map.js')}}"></script>
            <script src="{{asset('backend/js/custom.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
