<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <!-- Bootstrap core CSS -->
      <link href="{{ asset('frontend/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
      <!-- Additional CSS Files -->
      <link rel="stylesheet" href="{{ asset('frontend/assets/css/fontawesome.css')}}">
      <link rel="stylesheet" href="{{ asset('frontend/assets/css/templatemo-seo-dream.css')}}">
      <link rel="stylesheet" href="{{ asset('frontend/assets/css/animated.css')}}">
      <link rel="stylesheet" href="{{ asset('frontend/assets/css/owl.css')}}">
        {% endblock %}

        {% block javascripts %}
          <!-- Scripts -->
         <script src="{{ asset('frontend/vendor/jquery/jquery.min.js')}}"></script>
         <script src="{{ asset('frontend/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
         <script src="{{ asset('frontend/assets/js/owl-carousel.js')}}"></script>
         <script src="{{ asset('frontend/assets/js/animation.js')}}"></script>
         <script src="{{ asset('frontend/assets/js/imagesloaded.js')}}"></script>
         <script src="{{ asset('frontend/assets/js/custom.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        <!-- *** Header Area Start *** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- *** Logo Start *** -->
            <a href="index.html" class="logo">
              <img src="{{ asset('logo.png') }}" alt="">
            </a>
            <!-- *** Logo End *** -->
            <!-- *** Menu Start *** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="index.html">Home</a></li>
              <li class="scroll-to-section"><a href="/depot">Dépots</a></li>
              <li class="scroll-to-section"><a href="/produitcon" >Produits</a></li>
              <li class="scroll-to-section"><a href="/produits/boutique">Boutique</a></li>
              <li class="scroll-to-section"><a href="/bande/commande">Blog</a></li>
              <li class="scroll-to-section"><a href="/phase">Event</a></li>
              <li class="scroll-to-section"><a href="/utilisateur">Users</a></li>
            </ul>
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- *** Menu End *** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- *** Header Area End *** -->
        {% block body %}{% endblock %}
    </body>
</html>