{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}

<table class="table">
    <tr>
        <td>{{ form_label(form.titre, "Titre") }}</td>
        <td>{{ form_widget(form.titre) }}</td>
        <td class="text-danger">{{ form_errors(form.titre) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.description, "Description") }}</td>
        <td>{{ form_widget(form.description) }}</td>
        <td class="text-danger">{{ form_errors(form.description) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.createur, "Créateur") }}</td>
        <td>{{ form_widget(form.createur) }}</td>
        <td class="text-danger">{{ form_errors(form.createur) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.image, "Image (Fichier)") }}</td>
        <td>{{ form_widget(form.image) }}</td>
        <td class="text-danger">{{ form_errors(form.image) }}</td>
    </tr>
</table>

<button type="submit" class="btn btn-primary">📩 Publier</button>

{{ form_end(form) }}
