{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<table>
    <tr>
        <td>{{ form_label(form.nom, "Nom de la catégorie") }}</td>
        <td>{{ form_widget(form.nom) }}</td>
        <td>{{ form_errors(form.nom) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.description, "Description") }}</td>
        <td>{{ form_widget(form.description) }}</td>
        <td>{{ form_errors(form.description) }}</td>
    </tr>
</table>

<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
