{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite_entrante</th>
                <th>Quantite_sortante</th>
                <th>Quantite_actuelle</th>
                <th>Date_operation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock_produit in stock_produits %}
            <tr>
                <td>{{ stock_produit.id }}</td>
                <td>{{ stock_produit.quantiteEntrante }}</td>
                <td>{{ stock_produit.quantiteSortante }}</td>
                <td>{{ stock_produit.quantiteActuelle }}</td>
                <td>{{ stock_produit.dateOperation ? stock_produit.dateOperation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_stock_show', {'id': stock_produit.id}) }}">montrer</a>
                    <a href="{{ path('app_stock_edit', {'id': stock_produit.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stock_new') }}">Créer nouveau</a>
{% endblock %}
