{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
  <div>
    <img src="{{ asset('bg1.png')}}" alt="background">
</div>

<div id="services" class="our-services section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h2>Nos produits</h2>
                </div>
            </div>
        </div>
    </div>

    <section class="products section">
        <div class="container">
            <div class="row">
                {% for produit in produits %}
                    <div class="col-md-4">
                        <div class="product-item">
                            <div class="product-thumb">
                                <span class="bage">Nouveau</span>
                                <img class="img-responsive" src="{{ asset('uploads/images/' ~ produit.image) }}" alt="product-img" />
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a href="{{ path('app_produitcon_show', {'id': produit.id}) }}">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_produitcon_edit', {'id': produit.id}) }}">
                                                <i class="fa-solid fa-pen"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="{{ path('app_produitcon_show', {'id': produit.id}) }}">{{ produit.nom }}</a></h4>
                                <p class="date">Ajouté le : {{ produit.dateAjout ? produit.dateAjout|date('d/m/Y H:i') : '' }}</p>
                                <p class="price">{{ produit.prix }}€</p>
                                <p class="category" style="color: #FF5733;">
    Catégorie : {{ produit.categorie.nom }}
</p>

                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12 text-center">
                        <p>Aucun produit disponible.</p>
                    </div>
                {% endfor %}
            </div>

            <div class="text-center my-4">
                <a href="{{ path('app_produitcon_new') }}" class="btn btn-outline-success btn-sm mx-auto">
                    Ajouter un produit
                </a>
            </div>
        </div>
    </section>

    <div class="container-fluid">
        <div class="row">
            <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <h6>Listes des catégories</h6>
                </div>
                
                {% include 'categorie/index.html.twig' %}
                
                <div class="text-center my-4">
                    <a href="{{ path('app_categorie_new') }}" class="btn btn-outline-success btn-sm mx-auto">
                        Ajouter une catégorie
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © 2025 ECOWAY. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</div>


{% endblock %}
