
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<table>
    <tr>
        <td>{{ form_label(form.bandeCommande, "Bande Commande") }}</td>
        <td>{{ form_widget(form.bandeCommande, {'attr': {'class': 'form-control'}}) }}</td>
        <td>{{ form_errors(form.bandeCommande) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.reference, "Référence") }}</td>
        <td>{{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}</td>
        <td>{{ form_errors(form.reference) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.dateReception, "Date de Réception") }}</td>
        <td>{{ form_widget(form.dateReception, {'attr': {'class': 'form-control'}}) }}</td>
        <td>{{ form_errors(form.dateReception) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.fournisseur, "Fournisseur") }}</td>
        <td>{{ form_widget(form.fournisseur, {'attr': {'class': 'form-control'}}) }}</td>
        <td>{{ form_errors(form.fournisseur) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.quantiteRecue, "Quantité Reçue") }}</td>
        <td>{{ form_widget(form.quantiteRecue, {'attr': {'class': 'form-control'}}) }}</td>
        <td>{{ form_errors(form.quantiteRecue) }}</td>
    </tr>
</table>

<div class="text-center mt-3">
    <button class="btn btn-success">
        <i class="fas fa-save"></i> Enregistrer
    </button>
</div>

{{ form_end(form) }}
