{% extends 'base.html.twig' %}

{% block title %}BondeReception index{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>DateReception</th>
                <th>Fournisseur</th>
                <th>QuantiteRecue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bande_reception in bande_receptions %}
            <tr>
                <td>{{ bande_reception.id }}</td>
                <td>{{ bande_reception.reference }}</td>
                <td>{{ bande_reception.dateReception ? bande_reception.dateReception|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ bande_reception.fournisseur }}</td>
                <td>{{ bande_reception.quantiteRecue }}</td>
                <td>
                    <a href="{{ path('app_bande_reception_show', {'id': bande_reception.id}) }}">Afficher</a>
                    <a href="{{ path('app_bande_reception_edit', {'id': bande_reception.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bande_reception_new') }}">Ajouter</a>
{% endblock %}
