{% extends 'base.html.twig' %}

{% block title %}Phase index{% endblock %}

{% block body %}
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img src="{{ asset('logo.png') }}" alt="">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="index.html">Home</a></li>
              <li class="scroll-to-section"><a href="/depot">Dépots</a></li>
              <li class="scroll-to-section"><a href="/produitcon" >Produits</a></li>
              <li class="scroll-to-section"><a href="/produits/boutique">Boutique</a></li>
              <li class="scroll-to-section"><a href="/bande/commande">Achat</a></li>
              <li class="scroll-to-section"><a href="/phase" class="active">Production</a></li>
              <li class="scroll-to-section"><a href="/utilisateur">Users</a></li>
            </ul>
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  <div>
    <img src="{{ asset('bg1.png')}}" >
  </div>
  <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h6>Production</h6>
            <h2>Les phases de production</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
      {% for phase in phases %}
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="row">
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Phase {{ phase.numP }}</h4>
                  <p>{{ phase.description }}</p>
                  <p>Date: {{ phase.dateP }}</p>
                  <p>Status: {{ phase.status }}</p>
                  <table>
                  <tr>
                  <td>
                  <form action="{{ path('app_phase_edit', {'id': phase.id}) }}">
                    <button class="btn">Edit</button>
                  </form>
                  </td>
                  <td>{{ include('phase/_delete_form.html.twig') }}</td>
                  </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
    {% endfor %}
      </div>
    </div>



<div class="container-fluid">
<div class="row">
<div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
<div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h6>Planning</h6>
</div>
{% include 'plannig/index.html.twig' %}
</div>
</div>
</div>
<a href="{{ path('app_phase_new') }}">Create new</a>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2025 ECOWAY. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
