{% extends 'phase/index.html.twig' %}

{% block body %}

    <h1>{{ form.vars.value.id ? 'Modifier un phase' : 'Créer un nouveau phase' }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div>
            {{ form_row(form.num_p) }}
        </div>
        <div>
            {{ form_label(form.date_p) }}
            {{ form_widget(form.date_p) }}
            {{ form_errors(form.date_p) }}
        </div>
        <div>
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>

        <div>
            {{ form_label(form.status) }}
            {{ form_widget(form.status) }}
            {{ form_errors(form.status) }}
        </div>

        <button type="submit" class="btn btn-primary">
            {{ form.vars.value.id ? 'Mettre à jour' : 'Enregistrer' }}
        </button>
    {{ form_end(form) }}

    <a href="{{ path('phase_index') }}" class="btn btn-secondary">Retour à la liste</a>

{% endblock %}
