<!DOCTYPE html>

<title>Phase</title>

{% block body %}
    <h1>Phase</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ phase.id }}</td>
            </tr>
            <tr>
                <th>Num_p</th>
                <td>{{ phase.numP }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ phase.description }}</td>
            </tr>
            <tr>
                <th>Date_p</th>
                <td>{{ phase.dateP }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ phase.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_phase_index') }}">back to list</a>

    <a href="{{ path('app_phase_edit', {'id': phase.id}) }}">edit</a>

    {{ include('phase/_delete_form.html.twig') }}
{% endblock %}
