{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<table>
<tr>
    <td> {{ form_label(form.productName, "Nom du produit") }} </td>
    <td> {{ form_widget(form.productName) }} </td>
    <td> {{ form_errors(form.productName) }} </td>
</tr>
<tr>
    <td> {{ form_label(form.productDesc, "Description du produit") }} </td>
    <td> {{ form_widget(form.productDesc) }} </td>
    <td> {{ form_errors(form.productDesc) }} </td>
</tr>
<tr>
    <td> {{ form_label(form.productCategory, "Category du produit") }} </td>
    <td> {{ form_widget(form.productCategory) }} </td>
    <td> {{ form_errors(form.productCategory) }} </td>
</tr>
<tr>
    <td> {{ form_label(form.productPrice, "Prix du produit") }} </td>
    <td> {{ form_widget(form.productPrice) }} </td>
    <td> {{ form_errors(form.productPrice) }} </td>
</tr>
<tr>
    <td> {{ form_label(form.productStock, "Stock du produit") }} </td>
    <td> {{ form_widget(form.productStock) }} </td>
    <td> {{ form_errors(form.productStock) }} </td>
</tr>
<tr>
    <td> {{ form_label(form.productImage, "Lien Image du produit") }} </td>
    <td> {{ form_widget(form.productImage) }} </td>
    <td> {{ form_errors(form.productImage) }} </td>
</tr>
</table>
    {{ form_widget(form.save) }}
{{ form_end(form) }}
